$primary-color: #3498db;
$text-shadow-color: rgba(0, 0, 0, 0.3);

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: $primary-color;
    text-shadow: 2px 2px 4px $text-shadow-color;
    margin-bottom: 20px;
  }
}

#imgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;

  img {
    width: 400px;
  }
}
